<div class="header">
    <form [formGroup]="queryForm" (ngSubmit)="submit()">
        <div class="row items-start">
            <div class="col col-md-2">
                <div>
                    <label for="db" class="form-label">Banco de Dados</label>
                    <select id="db" class="form-select" formControlName="db">
                        <option value="Oracle">Oracle</option>
                        <option value="Aurora">Aurora</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-2">
                <div>
                    <label for="query" class="form-label">Tipo de Query</label>
                    <select id="query" class="form-select" formControlName="query">
                        <option value="Select">Select</option>
                        <option value="Update">Update</option>
                        <option value="Delete">Delete</option>
                        <option value="Insert">Insert</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-2">
                <div>
                    <label for="table" class="form-label">Nome da Tabela</label>
                    <input id="table" class="form-control" type="text" formControlName="table" />
                </div>
            </div>
            <div class="col col-md-2">
                <div>
                    <label for="showColumns" class="form-label">Exibir Colunas</label>
                    <select id="showColumns" class="form-select" formControlName="showColumns">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-2">
                <div>
                    <label class="form-label">Adicionar Colunas</label>
                    <div *ngFor="let column of columns.controls; let i = index" class="d-flex gap-2 mb-2">
                        <input class="form-control" placeholder="Nome da Coluna" [formControlName]="i" />
                        <button class="btn btn-danger" type="button" (click)="removeColumnField(i)" *ngIf="i !== 0">
                            X
                        </button>
                    </div>
                    <button class="btn btn-success" type="button" (click)="addColumnField()">
                        Adicionar Coluna
                    </button>
                </div>
            </div>
        </div>

        <div *ngFor="let condition of conditions.controls; let i = index" class="row items-start mb-3">
            <div class="col col-md-2">
                <label class="form-label">Coluna</label>
                <input class="form-control" placeholder="Coluna" formControlName="column" formControlName="condition" />
            </div>
            <div class="col col-md-2">
                <div>
                    <label class="form-label">Tipo de Operação</label>
                    <select class="form-select" formControlName="operation" formControlName="condition">
                        <option value="&rsaquo;">&rsaquo;</option>
                        <option value="=">=</option>
                        <option value="&lsaquo;">&lsaquo;</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-2">
                <label class="form-label">Valor</label>
                <input class="form-control" placeholder="Valor" formControlName="value" formControlName="condition" />
            </div>
            <div class="col col-md-2" *ngIf="i !== 0">
                <label style="opacity: 0">Remover</label>
                <button type="button" class="btn btn-danger" (click)="removeWhereCondition(i)">X</button>
            </div>
        </div>

        <button class="btn btn-success mt-2" type="button" (click)="addWhereCondition()">Adicionar condição</button>
        <hr />
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
</div>
<div class="query-preview" *ngIf="query !== ''">
    <p>{{ query }}</p>
</div>